[submodule "neodark.vim"]
	path = bundle/neodark.vim
	url = https://github.com/KeitaNakamura/neodark.vim.git
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pydiction"]
	path = bundle/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
